@import './_fonts.scss', '_variables.scss';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

.wrapper{
   height: 100vh;
   background-color:$OffWhite;
}
.container{
   max-width: 840px;
   margin: 0 auto;
   padding: 10vh 15px 0px;
   height: 100%;
}
.App {
   background-color:$White;
   width: 100%;
   border-radius: 3% 3% 30% 3%;
   padding: 100px 50px 30px 50px;
   position: relative;
}
.form {
   border-bottom: 2px solid $LightGrey;
   padding-bottom: 40px;
   span{
      position: absolute;
      display: inline-block;
      top: -65px;
     text-transform: uppercase;
     color: $SmokeyGrey;
     font-weight: bold;
     letter-spacing: 5px;
     font-family: Regular;
   }
}
.input__wrapper.warning{
      span{
         color: $LightRed;
      }
      .warning--text{
         font-size: 14px;
         font-family: Italic;
         position: absolute;
         text-transform: lowercase;
         top:40px;
         left: 0;
         right: 0;
         font-weight: 400i;
         letter-spacing: 0;
      }
   .input{
      border: 1px solid $LightRed;
      &:focus{
         outline: 1px solid $LightRed;
      }
   }
}
.input{
   font-size: 32px;
   font-weight: Bold;
   margin-right: 30px;
   max-width: 20%;
   border-radius: 8px;
   padding: 15px;
   border: 1px solid $LightGrey;
   letter-spacing: 2px;
   &__wrapper{
     display: inline;
     position: relative;
   }
   &:focus{
      outline: 1px solid $Purple;
   }
}

.result{
   font-weight: bold;
   font-family: ExtraBoldItalic;
   font-size: 80px;
   margin-top: 40px;
   span{
      color: $Purple;
   }
}
.button{
   position: absolute;
   background-color: $Purple;
   border: none;
   border-radius: 50%;
   padding: 20px;
   right: 40px;
   top: 165px;
   transition: 0.2s all;
   &:hover{
      background-color: $OffBlack;
      cursor: pointer;
   }
}
@media (max-width:600px) {
   .App {
      padding: 80px 30px 10px 30px;
   }
   .input{
      font-size: 18px;
      max-width: 27%;
      margin-right: 15px;
      padding: 10px;
   }
   .form {
      padding-bottom: 70px; 
      span{
         font-size: 13px;
         top: -35px; 
        letter-spacing: 2px;
      }
   }
   .button{
      padding: 15px;
      right: 50%;
      transform: translateX(50%);
      top: 165px;
      img{
         width: 25px;
      }
      &:hover{
         background-color: $Purple;
      }
   }
   .result{
      font-size: 50px;
      margin-top: 40px;
   }
   .input__wrapper.warning{
      .warning--text{
         font-size: 10px;
         top:30px;
         left: 10px;       
         font-weight: 400i;
      }
}
}