@font-face {
   font-family: "Bold";  
   src: local("Poppins-Bold"),
     url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
 }
 @font-face {
   font-family: "BoldItalic";  
   src: local("Poppins-BoldItalic"),
     url("./assets/fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
 }
 @font-face {
   font-family: "ExtraBold";   
   src: local("Poppins-ExtraBold"),
     url("./assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
 }
 @font-face {
   font-family: "ExtraBoldItalic";   
   src: local("Poppins-ExtraBoldItalic"),
     url("./assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
 }
 @font-face {
   font-family: "Italic";   
   src: local("Poppins-Italic"),
     url("./assets/fonts/Poppins/Poppins-Italic.ttf") format("truetype");
 }
 @font-face {
   font-family: "Regular";   
   src: local("Poppins-Regular"),
     url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
 }